<a href="https://colab.research.google.com/github/GabrielLourenco12/python_first_steps/blob/master/Tratamento_de_erros_e_exce%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tratamento de erros e exceções

- NameError: variável nao foi definida
- TypeError: tipos de dados incompatíveis
- RuntimeError: erro de execução
- SyntaxError: sintaxe digitada é inválida e não reconhecida pelo interpretador
- ZeroDivisionError: divisão por zero
- IndexError: índice está fora da coleção

## Tipos de erros

In [ ]:
3 = 4

SyntaxError: ignored

In [ ]:
print('Meu nome é', nome)

NameError: ignored

In [ ]:
print(3 / 0)

ZeroDivisionError: ignored

In [ ]:
2.3 / 'cachorro'

TypeError: ignored

In [ ]:
c = [1,2,3,4,5]
c

[1, 2, 3, 4, 5]

In [ ]:
c[5]

IndexError: ignored

## Tratamento de erros

In [ ]:
try:
  n = int(input('Digite um número inteiro: '))
except:
  print('Valor inválido')
else:
  print(f'Valor digitado é {n}')

Digite um número inteiro: 5
Valor digitado é 5

In [ ]:
while True:
  try:
    n = int(input('Digite um número inteiro: '))
  except:
    print('Valor inválido')
  else:
    print(f'Valor digitado é {n}')
    break

Digite um número inteiro: boa tarde
Valor inválido
Digite um número inteiro: gabriel
Valor inválido
Digite um número inteiro: 5
Valor digitado é 5

In [ ]:
while True:
  try:
    p = int(input('Digite um número inteiro'))
  except ValueError:
    print('Valor inválido')
  except KeyboardInterrupt:
    print('Usuário interrompeu a execução')
    break
  else:
    print(f'Valor digitado é {p}')
    break

Usuário interrompeu a execução
Digite um número inteiro31